@model IEnumerable<Model.EF.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách đơn hàng chưa được gửi đi
}

@section jsFooter{

}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.ShipEmail)
            </th>
            <td>
                <select>
                    <option @Html.Raw(item.Status == 1 ? "selected" : "")> Đơn hàng đã gửi đi</option>
                    <option @Html.Raw(item.Status == 0 ? "selected" : "")>Đơn hàng chưa được gửi</option>
                </select>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            </td>
        </tr>
    }

</table>
