@model IEnumerable<Model.EF.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh mục
}


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowOnHome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ParentID)
        </td>

        <td>
            <select>
                <option @Html.Raw(item.Status == true ? "selected" : " disabled ")>Đang hiển thị</option>
                <option @Html.Raw(item.Status == false ? "selected" : " disabled ")>Đang ẩn</option>
            </select>
        </td>

        <td>
            <select>
                <option @Html.Raw(item.ShowOnHome == true ? "selected" : " disabled ")>Đang hiển thị</option>
                <option @Html.Raw(item.ShowOnHome == false ? "selected" : " disabled ")>Đang ẩn</option>
            </select>
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
    }

</table>
